.remove{
  display: flex;
  justify-content: center;
}

table {
  border-color: white;
}

thead{
  color:white;
  background-color: blue;
}


button:hover{
  background-color: red;
  color: white;
}


.container{
  background-color: lavender;
}


